<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tecnomarket</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&family=Open+Sans&display=swap" rel="stylesheet">
    {% load static %}
   
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
    <link rel="icon" href="{% static 'app/img/favicon.ico' %}" type="image/x-icon">
</head>
<body>
<header id="header">
    <img src="{% static 'app/img/menuiconwhite.png' %}" alt="menu" class="menu" id="menu">
    <div class="contenedor_logo">
        <img src="{% static 'app/img/tecnomarketpngicono.png' %}" alt="logo" class="logo">
    </div>
    <div>
        <nav id="nav">
            <ul>
                <li>
                    <a href="{% url 'home' %}">Inicio</a>
                </li>
                <li>
                    <a href="{% url 'contacto' %}">Contacto</a>
                </li>
                <li>
                    <a href="{% url 'galeria' %}">Galería</a>
                    
                </li>
                {% if perms.app %}

                <li>
                    <a href="{% url 'agregar_producto' %}">Agregar producto</a>
                </li>
                {% endif %}
                {% if perms.app.view_producto %}
                <li>
                    <a href="{% url 'listar_productos' %}">Listado de productos</a>
                </li>
                {% endif %}

                {% if user.is_authenticated %}
                <li>
                    <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
                        {% csrf_token %}
                    </form>
                    <a href="#" onclick="document.getElementById('logout-form').submit();">Cerrar sesión</a>
                </li>
                <li>
                    <a href="#">@{{ user.username }}</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">Iniciar sesión</a>
                </li>
                <li>
                    <a href="{% url 'registro' %}">Registrate</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
<div id="contenido">
   {% block contenido %}
   {% endblock %}
</div>
<footer>
    <div class="marcas">
        <img src="{% static 'app/img/footer/apple.png' %}" alt="apple" style="width: 30px;">
        <img src="{% static 'app/img/footer/lenovo.png' %}" alt="lenovo">
        <img src="{% static 'app/img/footer/microsoft.png' %}" alt="microsoft">
        <img src="{% static 'app/img/footer/samsung.png' %}" alt="samsung">
        <img src="{% static 'app/img/footer/xiaomi.png' %}" alt="xiaomi">
    </div>
    <div class="logo_footer">
        <img src="{% static 'app/img/tecnomarketpngicono.png' %}" alt="logo">
    </div>
</footer>

<script src="{% static 'app/js/menu.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
    <script>
        {% for message in messages %}
            Swal.fire({
                "title": "Felicitaciones",
                "text": "{{ message }}",
                "icon": "success"
            });
        {% endfor %}
    </script>
{% endif %}

{% block js %}
{% endblock %}
</body>
</html>
