{% extends 'app/base.html' %}
{% load static %}

{% block js %}
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script>
    $(document).ready(function(){
        $('.slider').bxSlider({
            mode: 'fade',
            auto: true,
            pause: 2000
        });
    });
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<style>
    /* Estilos adicionales si los necesitas */
</style>
{% endblock %}

{% block contenido %}
<div class="productos slider">
    <div class="producto">
        <div class="contenedor">
            <img src="{% static 'app/img/productos/lenovo_yoga_710.jpeg' %}" alt="Yoga 710">
        </div>

        <div class="detalles">
            <h5>Lenovo</h5>
            <h2>Yoga 710</h2>
            <h3>$799.990</h3>
        </div>
    </div>

    <div class="producto">
        <div class="contenedor">
            <img src="{% static 'app/img/productos/iphone.jpeg' %}" alt="iPhone">
        </div>

        <div class="detalles">
            <h5>Apple</h5>
            <h2>iPhone</h2>
            <h3>$699.990</h3>
        </div>
    </div>

    <div class="producto">
        <div class="contenedor">
            <img src="{% static 'app/img/productos/lenovo_tablet.jpeg' %}" alt="Tablet">
        </div>

        <div class="detalles">
            <h5>Lenovo</h5>
            <h2>Tablet</h2>
            <h3>$199.990</h3>
        </div>
    </div>

    <div class="producto">
        <div class="contenedor">
            <img src="{% static 'app/img/productos/s9.jpeg' %}" alt="Galaxy S9">
        </div>

        <div class="detalles">
            <h5>Samsung</h5>
            <h2>Galaxy S9</h2>
            <h3>$699.990</h3>
        </div>
    </div>

    <div class="producto">
        <div class="contenedor">
            <img src="{% static 'app/img/productos/macbook.jpeg' %}" alt="MacBook">
        </div>

        <div class="detalles">
            <h5>Apple</h5>
            <h2>MacBook 13</h2>
            <h3>$1.200.000</h3>
        </div>
    </div>
</div>
{% endblock %}
